{% extends 'base.html.twig' %}

{% block title %}Hello GuestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Guest List</h2>
        <div class="card">
            <div class="card-header">
                <!--<a class="btn btn-outline-primary" href=""> 
                    Create New Guest 
                </a>-->
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th width="240px">Email</th>
                    </tr>
                    {% for guest in guests %}
                    <tr>
                        <td>{{ guest.firstName }}</td>
                        <td>{{ guest.lastName }}</td>
						<td>{{ guest.type }}</td>
                        <td>{{ guest.status }}</td>
                        <td>{{ guest.email }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  
{% endblock %}
